sasika/*
inference_code/data2/*
checkpoints/*
checkpoints
/home/sasikayw/Desktop/integration/test/moondream_finetune_with_lora/wandb/*
*.wandb
test/moondream_finetune_with_lora/data/*
**/cache/*
**/__pycache__/*

# .bin files in all the directoris and subdirectories
*.bin